<h1 style="float: left">Report List</h1>

<div class="btn-group" style="float:right; margin-top: 28px;">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    2014 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    <li><a href="#">2013</a></li>
    <li><a href="#">2014</a></li>
  </ul>
</div>

<div style="clear: both"></div>


<table class="table table-hover" style="margin-top: 30px">
    <thead>
        <tr>
            <th>Period</th>
            <th>Regular Hours</th>
            <th>Hypercare Hours</th>
            <th>Client</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>January 2014</td>
            <td>117</td>
            <td>0</td>
            <td>berg Computers</td>
            <td>07 February 2014</td>
        </tr>
        <tr>
            <td>February 2014</td>
            <td>113</td>
            <td>0</td>
            <td>berg Computers</td>
            <td>11 March 2014</td>
        </tr>
        <tr>
            <td>March 2014</td>
            <td>126</td>
            <td>15</td>
            <td>berg Computers</td>
            <td>10 April 2014</td>
        </tr>
        <tr>
            <td>April 2014</td>
            <td>120</td>
            <td>13</td>
            <td>berg Computers</td>
            <td>02 May 2014</td>
        </tr>
        <tr>
            <td>May 2014</td>
            <td>121</td>
            <td>26</td>
            <td>berg Computers</td>
            <td>05 June 2014</td>
        </tr>
        <tr>
            <th>Average</th>
            <th>119.25</th>
            <th>11.5</th>
            <th colspan="2">&nbsp;</th>
        </tr>
    </tbody>
</table>
