.form-actions {
    margin-top: 30px
}

.page-button {
    float:right;
    margin-top: 28px;
}

.report-data label {
    margin-right: 5px;
}

.checkbox-column {
    width: 30px;
}

.empty-table {
    text-align: center;
    color: #aaaaaa;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}